In [1]:
import pandas as pd
import pandas_profiling

In [2]:
data = pd.read_csv('telecom_churn_data.csv')

In [3]:
#profile = data.profile_report(title='Pandas Profiling Report')
#profile.to_file(output_file="profile.html")

In [4]:
avg_reach_amt_6_7 = (data['total_rech_amt_6'] + data['total_rech_amt_7'])/2
quant_70 = avg_reach_amt_6_7.quantile(q=0.7)
quant_70

368.5

In [5]:
high_valued = data[avg_reach_amt_6_7 > quant_70].reset_index(drop=True)
high_valued.shape

(29979, 226)

In [6]:
total_usage = high_valued['total_ic_mou_9'] + high_valued['total_og_mou_9'] + high_valued['vol_2g_mb_9'] + high_valued['vol_3g_mb_9']
high_valued['churn'] = list(map(int,total_usage == 0))
high_valued.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1
1,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.0,0
2,7002191713,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,...,NaN,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.0,0
3,7000875565,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,...,NaN,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,0
4,7000187447,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,690.008,...,NaN,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,0

In [7]:
profile = high_valued.profile_report(title='High Valued Profiling Report')
profile.to_file(output_file="high_valued_profile.html")